

 <!-- Header -->
<header class="masthead d-flex" style="padding-bottom:1vh!important;padding-top:1vh!important">


    {{this.hideSuggestions}}

    <div class="container text-center my-auto" style="margin-top:10px!important">

        <img src="../../../../assets/img/tree.ico" style="height:20vh!important"/>

        <h1 class="mb-1">treely</h1>
        <h3 class="mb-5">
            <em>Private Non Tracking search</em>
        </h3>

        <!--<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>

    <hr />
    <br />
    <br />-->

        <form [formGroup]="indexForm" class="container text-center">
            <div class="form-group">



                <input value=""
                       type="text"
                       class="form-control"
                       id="search"
                       formControlName="search"
                       placeholder="search"
                       (keyup)="onKey($event)"
                       autocomplete="off" />



               

                <ul [ngClass]="hideSuggestions ? 'd-none' : 'd-inline-block'" id="list">

                    <li class="suggestionList" *ngFor="let suggestion of (autocompleteResponse ? autocompleteResponse.suggestionGroups[0].searchSuggestions ? autocompleteResponse.suggestionGroups[0].searchSuggestions : [] : [])">
                        <span (click)="useSuggestion(suggestion)">{{suggestion.displayText}}</span>
                    </li>

                </ul>




            </div>


            <button type="button" class="btn btn-primary" id="button2" (click)="continue()">Continue</button>



        </form>

    </div>
    <div class="overlay">
        
    </div>


   

</header>




