body{
    background-color:darkseagreen;
}


li.suggestionList{
    background-color:aliceblue;

}

li.suggestionListSelected {
    background-color: green;
}

li.suggestionList:hover{
    background-color:brown;
}