
<nav class="navbar navbar-light bg-faded" style="background-color:grey; padding-top:15px">

    {{this.offset}}
    <!--
    <form [formGroup]="searchForm" class="form-inline">
      <div class="row">
        <div class="col-6">
          <input value="" type="text" class="" id="input1" formControlName="search" placeholder="search" />
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-success" id="button2" (click)="doSearch()">Search</button>
        </div>
      </div>
    </form>
        -->

    <form [formGroup]="searchForm" style="min-width:100%">
        <div class="row">
            <div class="col-8">
                <input type="text" class="form-control" formControlName="search" placeholder="search" (keyup)="onKey($event)">

                <ul [ngClass]="hideSuggestions ? 'd-none' : 'd-inline-block'" id="list">

                    <li class="suggestionList" *ngFor="let suggestion of (autocompleteResponse ? autocompleteResponse.suggestionGroups[0].searchSuggestions ? autocompleteResponse.suggestionGroups[0].searchSuggestions : [] : [])">
                        <span (click)="useSuggestion(suggestion)">{{suggestion.displayText}}</span>
                    </li>

                </ul>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-outline-success" id="button2" (click)="doSearch(5,0)" style="margin-left:-30px!important"><i class="fas fa-search"></i></button>
            </div>
            <div class="col-1">

            </div>

        </div>
    </form>

</nav>


<!--<h3>
    {{hideResults}}
    You searched for {{results.queryContext.originalQuery }}
</h3>
<label>{{results.webPages.totalEstimatedMatches}} results</label>-->

<br />
<br />
<!--
{{"this is a message" | encodeUrl}}

{{search.Phrase | encodeUrl}}

<br />

<br />

{{results.queryContext.originalQuery | encodeUrl}}
    -->

<div style="font-size: 32px;padding-left:20%">
    <i class="fa fa-tree fa-10x fa-spin" [ngClass]="{'d-none':searchComplete==true}" aria-hidden="true" id="spinner" style="color:green;text-align:center"> </i>
</div>





<div [ngClass]="hideResults ? 'd-none' : 'd-inline-block'" class="container-fluid" style="padding-bottom:150px">
    <ul class="col-10">
        <li *ngFor="let result of results.webPages.value" style="list-style:none">
            <a href="{{result.url}}" class="resultTitle">{{result.name}}</a>
            <br />

            <a href="{{result.url | linkHttp}}" class="resultTitle" style="color:#006621; font-size:small">{{result.url}}</a>
            <br />

            <!--<a href="{{result.url | linkHttp}}" style="color:#006621; font-size:small">{{result.displayUrl}}</a>-->
            <p style="color:#222; font-size:small">{{result.snippet}}</p>
        </li>
    </ul>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" (click)="doSearchPrev()" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" (click)="doSearch(10,0)">1</a></li>
            <li class="page-item"><a class="page-link" (click)="doSearch(10,10)">2</a></li>
            <li class="page-item"><a class="page-link" (click)="doSearch(10,20)">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>





{{this.searchComplete}}

