
<nav class="navbar navbar-light bg-faded" style="background-color:grey; padding-top:15px">

    <!--
    <form [formGroup]="searchForm" class="form-inline">
      <div class="row">
        <div class="col-6">
          <input value="" type="text" class="" id="input1" formControlName="search" placeholder="search" />
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-success" id="button2" (click)="doSearch()">Search</button>
        </div>
      </div>
    </form>
        -->

    <form [formGroup]="searchForm" style="min-width:100%">
        <div class="row">
            <div class="col-8">
                <input type="text" class="form-control" formControlName="search" placeholder="search" (keyup)="onKey($event)">

                <ul [ngClass]="hideSuggestions ? 'd-none' : 'd-inline-block'" id="list">

                    <li class="suggestionList" *ngFor="let suggestion of (autocompleteResponse ? autocompleteResponse.suggestionGroups[0].searchSuggestions ? autocompleteResponse.suggestionGroups[0].searchSuggestions : [] : [])">
                        <span (click)="useSuggestion(suggestion)">{{suggestion.displayText}}</span>
                    </li>

                </ul>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-outline-success" id="button2" (click)="doSearch(5,2)" style="margin-left:-30px!important"><i class="fas fa-search"></i></button>
            </div>
            <div class="col-1">

            </div>

        </div>
    </form>

</nav>

<h3>
    {{hideResults}}
    You searched for {{results.queryContext.originalQuery }}
</h3>
<label>{{results.webPages.totalEstimatedMatches}} results</label>

<br />
<br />
<!--
{{"this is a message" | encodeUrl}}

{{search.Phrase | encodeUrl}}

<br />

<br />

{{results.queryContext.originalQuery | encodeUrl}}
    -->

<div style="font-size: 32px;">
    <i class="fa fa-spinner fa-10x fa-spin" [ngClass]="{'d-none':searchComplete==true}" aria-hidden="true" id="spinner"> </i>
</div>





    <div [ngClass]="hideResults ? 'd-none' : 'd-inline-block'"  class="container-fluid" style="padding-bottom:150px">
        <ul class="col-10">
            <li *ngFor="let result of results.webPages.value" style="list-style:none">
                <a href="{{result.url | linkHttp}}" class="resultTitle">{{result.name}}</a>
                <br />
                <a href="{{result.url | linkHttp}}" style="color:#006621; font-size:small">{{result.displayUrl}}</a>
                <p style="color:#222; font-size:small">{{result.snippet}}</p>
            </li>
        </ul>
    </div>


    <div class="pagination" style="padding-bottom:150px">

        <a class="pagination-button pagination-prev" href="" rel="prev">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 20 20">
                    <g fill="none" fill-rule="evenodd">
                        <path d="M 0,0 20,0 20,20 0,20 Z"></path>
                        <path fill="#4A4A4A" d="M 7.625,4.5 6.5,5.625 11.375,10.5 6.5,15.375 7.625,16.5 l 6,-6 z"></path>
                    </g>
                </svg>
            </span>
        </a>

        <a class="" [routerLink]="['/search/']" [queryParams]="{search : search.Phrase | encodeUrl, count : count, offset : 1}">
            <span>
                1
            </span>
        </a>

        <a>
            <span (click)="doSearch(5,2)">
                3
            </span>
        </a>

        <a>
            <span (click)="doSearch(5,3)">
                3
            </span>
        </a>

        <a class=" " href="/search?p=1&amp;q=tour+de+manche" rel="next">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 20 20">
                    <g fill="none" fill-rule="evenodd">
                        <path d="M0 0h20v20H0z"></path>
                        <path fill="#4A4A4A" d="M7.625 4.5L6.5 5.625l4.875 4.875L6.5 15.375 7.625 16.5l6-6z"></path>
                    </g>
                </svg>
            </span>
        </a>

    </div>


    {{this.searchComplete}}

